<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.williamstultscourseguide">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WilliamStultsCourseGuide">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".ui.AssessmentEdit"
            android:label="@string/title_activity_assessment_edit"></activity>
        <activity
            android:name=".ui.TermEdit"
            android:label="@string/title_activity_term_edit" />
        <activity
            android:name=".ui.CourseEdit"
            android:label="@string/title_activity_course_edit" />
        <activity
            android:name=".ui.CourseAlertEntry"
            android:label="@string/title_activity_course_alert_entry" />
        <activity
            android:name=".ui.CourseNote"
            android:label="@string/title_activity_course_note" />
        <activity
            android:name=".ui.TermsList"
            android:label="@string/title_activity_terms_list" />
        <activity
            android:name=".ui.TermDetail"
            android:label="@string/title_activity_term_detail" />
        <activity
            android:name=".ui.CoursesList"
            android:label="@string/title_activity_courses_list" />
        <activity
            android:name=".ui.CourseDetail"
            android:label="@string/title_activity_course_detail" />
        <activity
            android:name=".ui.AssessmentsList"
            android:label="@string/title_activity_assessments_list" />
        <activity
            android:name=".ui.AssessmentDetail"
            android:label="@string/title_activity_assessment_detail" />
        <activity
            android:name=".ui.Home"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>